body {
    margin: 0;
    padding: 0;
}

#map {
    width: 50%;
    height: 100vh;
    border-radius: 5rem;
    margin-top: -35rem;
    box-shadow: 0 .3rem .5rem rgba(0,0,0,.3);
}
html{
    background-color: #ecf0f3;
}
.permission{
    align-items: center;
    margin-left: 60rem;
    margin-top: 15rem;
    

    

    
    
}
.grid{
    display: grid;
    gap: 1.5rem;
}

.button{
   height: 4rem;
   background-color: #0188DF;
   border-radius: 1rem;
   font-size: 1.5rem;
   border: none;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 .3rem .5rem rgba(0,0,0,.5);
}
.button::before{
    content: '';
    position: absolute;
    top: -100%; left: 0;
    height: 100%;
    width: 100%;
    
    z-index: -1;
    transition: .2s linear ;
}

.button:hover:before{
    top: 0%;
}

.button:hover{
    box-shadow: .1rem .5rem 1rem #354046,
                0 .3rem .5rem rgba(0,0,0,.3) ;
}